<a href="https://colab.research.google.com/github/hazelerate/food_sales_prediction/blob/main/Project_1_Part_5_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Cleaning

In [1]:
#mount data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
#import libraries
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import make_column_transformer

In [3]:
#load data
filename = '/content/sales_predictions.csv'
sales = pd.read_csv(filename)
sales.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [4]:
#run sales information to check columns, rows, etc.
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
#check if there are duplicates under Item_Identifier column
sales['Item_Identifier'].duplicated().sum()

6964

In [6]:
#drop duplicates
new_sales = sales.drop_duplicates(subset=['Item_Identifier'],keep='first')
new_sales.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [18]:
#Identify missing data
new_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1559 entries, 0 to 7298
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1559 non-null   object
 1   Item_Weight                1305 non-null   float64
 2   Item_Fat_Content           1559 non-null   object
 3   Item_Visibility            1559 non-null   float64
 4   Item_Type                  1559 non-null   object
 5   Item_MRP                   1559 non-null   float64
 6   Outlet_Identifier          1559 non-null   object
 7   Outlet_Establishment_Year  1559 non-null   int64
 8   Outlet_Size                1103 non-null   object
 9   Outlet_Location_Type       1559 non-null   object
 10  Outlet_Type                1559 non-null   object
 11  Item_Outlet_Sales          1559 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 158.3+ KB

In [19]:
#check for missing values
print(new_sales.isna().sum().sum(), 'missing values')

710 missing values

In [20]:
#train test split
X = sales.drop(columns=['Item_Outlet_Sales'])
y = sales['Item_Outlet_Sales']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [21]:
#Select Columns
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')
num_columns = num_selector(X_train)
cat_columns = cat_selector(X_train)
print('numeric columns are', num_selector)
print('categorical columns are', cat_selector)

numeric columns are <sklearn.compose._column_transformer.make_column_selector object at 0x7fe119d21ed0>
categorical columns are <sklearn.compose._column_transformer.make_column_selector object at 0x7fe119d21250>

In [22]:
#imputation to understand data
df_num = sales[num_columns]
df_num.loc[:, df_num.isna().any()]

      Item_Weight
0           9.300
1           5.920
2          17.500
3          19.200
4           8.930
...           ...
8518        6.865
8519        8.380
8520       10.600
8521        7.210
8522       14.800

[8523 rows x 1 columns]

In [23]:
#instantiate SimpleImputer to fill missing data with the most frequent value
freq_imputer = SimpleImputer(strategy='most_frequent')
#fit on the categorical columns of the training data
freq_imputer.fit(X_train[cat_columns])
#transform categorical columns of both training and testing data
X_train.loc[:, cat_columns] = freq_imputer.transform(X_train[cat_columns])
X_test.loc[:, cat_columns] = freq_imputer.transform(X_test[cat_columns])

In [24]:
#check if there are still missing values
print(X_train.isna().sum().sum(), 'missing values')
X_train.info()

1107 missing values
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6392 entries, 4776 to 7270
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6392 non-null   object
 1   Item_Weight                5285 non-null   float64
 2   Item_Fat_Content           6392 non-null   object
 3   Item_Visibility            6392 non-null   float64
 4   Item_Type                  6392 non-null   object
 5   Item_MRP                   6392 non-null   float64
 6   Outlet_Identifier          6392 non-null   object
 7   Outlet_Establishment_Year  6392 non-null   int64
 8   Outlet_Size                6392 non-null   object
 9   Outlet_Location_Type       6392 non-null   object
 10  Outlet_Type                6392 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 599.2+ KB